---
import { getEntry, render } from "astro:content";
import {
  Facebook,
  LetterText,
  Menu,
  Paperclip,
  PencilLine,
  Tag,
  Twitter,
  Wrench,
} from "lucide-solid";

import BackLink from "@/components/BackLink/BackLink.astro";
import Profile from "@/components/Profile/Profile.astro";
import TableOfContents from "@/components/TableOfContents/TableOfContents.astro";
import { METADATA } from "@/const";
import Layout from "@/layouts/Layout.astro";
import { convertParams, entry2post, getBlogPosts } from "@/libraries/article";
import styles from "@/styles/post.module.scss";

export async function getStaticPaths() {
  const posts = convertParams(await getBlogPosts(true));
  return posts;
}

const { slug } = Astro.params;

const entry = await getEntry("post", slug);
if (!entry) return Astro.redirect("/404");

const post = entry2post(entry);
const renderer = await render(entry);

const postUrl = `${METADATA.url}/posts/${post.slug}/`;
const encodedUrl = encodeURIComponent(postUrl);
const encodedTitle = encodeURIComponent(`${post.title} - ${METADATA.title}`);

const twitterUrl = `https://x.com/intent/post?url=${encodedUrl}&text=${encodedTitle}`;
const facebookUrl = `https://www.facebook.com/sharer/sharer.php?u=${encodedUrl}`;

const frontmatter = renderer.remarkPluginFrontmatter as {
  charCount: string;
};
---

<Layout title={`${post.title} - ${METADATA.title}`} katex post={post}>
  <div class={styles.container}>
    <BackLink />
    <div class={styles.postHeader}>
      <h1 class={styles.postTitle}>{post.title}</h1>
      <div class={styles.postMeta}>
        <div class={styles.postDate}>
          <PencilLine />
          <time datetime={post.createdDate}>
            {post.createdDate}
          </time>
        </div>
        <div class={styles.postDate}>
          <Wrench />
          <time datetime={post.updatedDate}>
            {post.updatedDate}
          </time>
        </div>
        <div class={styles.postChars}>
          <LetterText />
          <span>
            {frontmatter.charCount} chars
          </span>
        </div>
        <div class={styles.postTags}>
          <Tag />
          <div class={styles.postTagsInner}>
            {
              post.tags.map((tag) => (
                <span>
                  <a href={`/tags/${tag}/`} class={styles.postTagLink}>
                    {tag}
                  </a>
                </span>
              ))
            }
          </div>
        </div>
      </div>
    </div>
    <div class={styles.postContent}>
      <div class={styles.postContentInner}>
        <article>
          <renderer.Content />
        </article>
        <div class={styles.shareButtons}>
          <a
            href="#"
            onclick=`navigator.clipboard.writeText("${postUrl}"); return false;`
            class={styles.link}
            aria-label="Copy URL"
            title="Copy URL"
          >
            <Paperclip />
          </a>
          <a
            href={twitterUrl}
            target="_blank"
            rel="noopener noreferrer"
            class={styles.link}
            aria-label="Twitter"
            title="Twitter"
          >
            <Twitter />
          </a>
          <a
            href={facebookUrl}
            target="_blank"
            rel="noopener noreferrer"
            class={styles.link}
            aria-label="Facebook"
            title="Facebook"
          >
            <Facebook />
          </a>
        </div>
        <div class={styles.postProfile}>
          <Profile mode="row" loading="lazy" />
        </div>
      </div>
      <aside class={styles.postAside}>
        <div class={styles.tocDetails}>
          <input type="checkbox" id="toc-toggle" class={styles.tocToggle} />
          <label for="toc-toggle" class={styles.tocSummary}>
            <div class={styles.tocSummaryInner}>
              <Menu />
              <span>Table of Contents</span>
            </div>
          </label>
          <div class={styles.tocContent}>
            <TableOfContents headings={renderer.headings} />
          </div>
        </div>
      </aside>
    </div>
  </div>
</Layout>
