---
import { Image } from "astro:assets";

import type { Post } from "@/libraries/article";

import styles from "./PostsGrid.module.scss";

interface Props {
  posts: Post[];
  eagerLoadCount?: number;
}

const { posts, eagerLoadCount = 0 } = Astro.props as Props;
---

<div class={styles.postsGrid}>
  {
    posts.map((post, index) => (
      <div class={styles.card}>
        <a
          href={post.type === "Blog" ? post.path : post.url}
          class={styles.postImageLink}
          target={post.type === "Zenn" ? "_blank" : undefined}
          rel={post.type === "Zenn" ? "noopener noreferrer" : undefined}
          aria-label={post.title}
        >
          {post.ogp && (
            <Image
              src={post.ogp}
              alt={post.title}
              class={styles.postImage}
              width={600}
              height={315}
              priority={index < eagerLoadCount}
              format="avif"
            />
          )}
        </a>
        <div class={styles.cardContent}>
          <div class={styles.postMeta}>
            <span class={styles.postType} data-type={post.type}>
              {post.type}
            </span>
            <div class={styles.postDate}>
              <time datetime={post.createdDate}>
                {post.createdDate.split(" ")[0]}
              </time>
            </div>
          </div>
          <a
            href={post.type === "Blog" ? post.path : post.url}
            class={styles.postLink}
            target={post.type === "Zenn" ? "_blank" : undefined}
            rel={post.type === "Zenn" ? "noopener noreferrer" : undefined}
            aria-label={post.title}
          >
            <h3 class={styles.postTitle}>{post.title}</h3>
          </a>
        </div>
      </div>
    ))
  }
</div>
