---
import BackLink from "@/components/BackLink/BackLink.astro";
import PostsGrid from "@/components/PostsGrid/PostsGrid.astro";
import { METADATA } from "@/const";
import Layout from "@/layouts/Layout.astro";
import { getBlogPosts, getUniqueTags } from "@/libraries/article";
import styles from "@/styles/posts.module.scss";

export async function getStaticPaths() {
  const tags = getUniqueTags(await getBlogPosts(false));
  return tags.map((tag) => {
    return {
      params: { slug: tag },
    };
  });
}

const { slug } = Astro.params;

const posts = (await getBlogPosts(false)).filter((post) => {
  return post.tags.includes(slug);
});
---

<Layout title=`Posts - ${METADATA.title}`>
  <div class={styles.container}>
    <BackLink />
    <div class={styles.postsHeader}>
      <h2 class={styles.postsTitle}>{slug}</h2>
    </div>
    <PostsGrid posts={posts} eagerLoadCount={4} />
  </div>
</Layout>
