---
import { SITE_NAME } from "@/const";
import Layout from "@/layouts/Layout.astro";
import { categoryToStr, convertArticles, getAllArticles } from "@/lib/article";
import type { ContentEntryMap } from "astro:content";

export async function getStaticPaths() {
  const categories = ["blog", "memo"];
  return categories.map((category) => {
    return {
      params: {
        category,
      },
    };
  });
}

const { category } = Astro.params;

const articles = convertArticles(
  await getAllArticles(category as keyof ContentEntryMap, false),
  category
);
---

<Layout title=`${categoryToStr(category)} - ${SITE_NAME}`>
  <div class="px-8 py-2">
    <h1>{categoryToStr(category)}</h1>
    <div>
      {articles.length === 0 && <p>記事がありません</p>}
      {
        articles.map((article) => (
          <article>
            <a href={`/${category}/${article.params.slug}`}>
              {article.props.title}
            </a>
            <div>
              <div>{article.props.date}</div>
              <div>
                <span>{categoryToStr(category)}</span>
                {article.props.tags.map((tag) => (
                  <span>{tag}</span>
                ))}
              </div>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</Layout>

<style>
  h1 {
    @apply text-3xl font-bold;
  }
</style>
