---
import { ArrowRight } from "lucide-solid";

import PostsGrid from "@/components/PostsGrid/PostsGrid.astro";
import Profile from "@/components/Profile/Profile.astro";
import { METADATA, PERSONAL_DATA, ZENN_USERNAME } from "@/const";
import Layout from "@/layouts/Layout.astro";
import { getAllPosts } from "@/libraries/article";
import styles from "@/styles/index.module.scss";

const recentPosts = (await getAllPosts(ZENN_USERNAME, false)).slice(0, 4);
---

<Layout title={`${PERSONAL_DATA.name} - ${METADATA.title}`}>
  <div class={styles.container}>
    <Profile mode="column" class={styles.profile} priority />
    <div class={styles.separator}></div>
    <section class={styles.posts}>
      <div class={styles.postsHeader}>
        <h2 class={styles.postsTitle}>Latest Posts</h2>
        <a
          href="/posts/"
          class={styles.viewAllLink}
          aria-label="View all posts"
        >
          View all posts
          <ArrowRight />
        </a>
      </div>
      <PostsGrid posts={recentPosts} eagerLoadCount={2} />
    </section>
  </div>
</Layout>
