---
import type { RenderResult } from "astro:content";

import Profile from "@/components/Profile.astro";
import { categoryToStr } from "@/lib/article";

export interface Props {
  category: string;
  slug: string;
  title: string;
  tags: string[];
  date: string;
  body: string;
  renderer: RenderResult;
}

const { category, slug, title, tags, date, renderer } = Astro.props;
---

<article>
  <div class="articleMeta">
    <div class="articleSlug">{slug}</div>
    <h1 class="articleTitle">{title}</h1>
    <div class="articleDate">{date}</div>
    <div class="articleTags">
      <span>{categoryToStr(category)}</span>
      {tags.map((tag) => <span>{tag}</span>)}
    </div>
  </div>
  <div class="articleMain">
    <nav>
      <ul>
        <li><h2>Table of Contents</h2></li>
        {
          renderer.headings.map((head) => {
            if (
              (head.depth == 2 || head.depth == 3) &&
              head.slug != "footnote-label"
            ) {
              return (
                <li class={`heading${head.depth}`}>
                  <a href={`#${head.slug}`}>{head.text}</a>
                </li>
              );
            }
          })
        }
      </ul>
    </nav>
    <div class="articleContent">
      <renderer.Content />
    </div>
  </div>
  <div class="profileContainer">
    <Profile />
  </div>
</article>

<style>
  article {
    padding-inline: 2rem;

    div.articleMeta {
      margin-block: 1rem;

      h1.articleTitle {
        margin-bottom: 0;
        border-bottom-width: 0;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
      }

      div.articleSlug,
      div.articleDate {
        --tw-text-opacity: 1;
        color: rgb(163 163 163 / var(--tw-text-opacity));
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
      }

      div.articleTags {
        margin-top: 0.25rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.25rem 0.5rem;

        span {
          --tw-bg-opacity: 1;
          background-color: rgb(38 38 38 / var(--tw-bg-opacity));
          --tw-text-opacity: 1;
          color: rgb(163 163 163 / var(--tw-text-opacity));
          border-radius: 0.25rem;
          padding: 0.125rem 0.375rem;
          font-size: 0.75rem;
          line-height: 1rem;
        }
      }
    }

    div.articleMain {
      display: block;
      @media (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
      }

      nav {
        width: min(18rem, 100%);

        h2 {
          margin: 0;
          margin: 1rem 0 0.5rem 0;
          border-bottom-width: 0;
          font-size: 1.5rem;
          line-height: 2rem;
          font-weight: 700;
        }

        ul {
          margin: 0;
          margin-bottom: 1.5rem;
          list-style-type: none;
          padding: 0;
          font-size: 0.875rem;
          line-height: 1.25rem;
          @media (min-width: 1024px) {
            position: sticky;
            top: 5rem;
            margin-top: 0px;
            width: 16rem;
          }

          li.heading2 {
            margin-bottom: 0.25rem;
            margin-top: 0;
            font-size: 1.125rem;
            line-height: 1.75rem;
          }

          li.heading3 {
            margin: 0 0 0.25rem 1rem;
          }
        }
      }

      div.articleContent {
        flex: 1 1 0%;
        overflow: hidden;

        > div {
          margin-bottom: 16px;
        }

        h1 {
          padding-bottom: 4px;
          margin-bottom: 16px;
          font-size: 24px;
          font-weight: bold;
          border-bottom: solid 1px gray;
        }

        h2 {
          padding-bottom: 4px;
          margin: 16px 0;
          font-size: 21px;
          font-weight: bold;
          border-bottom: solid 1px gray;
        }

        h3 {
          margin: 16px 0;
          font-size: 18px;
          font-weight: bold;
        }

        p {
          margin: 6px 0;
        }

        a:not(.rlc-container) {
          color: #a79fe0;
          text-decoration: none;
          transition:
            color 0.3s,
            border-bottom 0.3s;
          border-bottom: 1px solid transparent;

          &:hover {
            color: #edeaf6;
            border-bottom: 1px solid #edeaf6;
          }

          &:focus {
            outline: none;
            color: #edeaf6;
            border-bottom: 1px solid #edeaf6;
          }
        }

        table {
          display: block;
          max-width: 100%;
          overflow: auto;
          margin: 1em 0 1em 1em;
          overflow-x: auto;
          overflow-y: hidden;

          tr,
          th,
          td {
            border: 1px solid gray;
            padding: 6px 12px;
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 4px;
          list-style-position: inside;
          list-style: disc;
          margin: 1em 0 1em 2em;

          ul,
          ol {
            margin: 0 0 0 2em;
          }
        }

        ul.contains-task-list {
          list-style: none;
          margin-left: 1em;
        }

        ol {
          display: flex;
          flex-direction: column;
          gap: 4px;
          list-style-position: inside;
          list-style: decimal;
          margin: 1em 0 1em 2em;

          ul,
          ol {
            margin: 0 0 0 2em;
          }
        }

        blockquote {
          margin: 8px 0;
          padding: 8px;
          border-left: 4px solid #7a4d7c;
          background-color: #140b2f88;
        }

        summary {
          cursor: pointer;
        }

        code:not(pre > code) {
          --tw-bg-opacity: 1;
          background-color: rgb(38 38 38 / var(--tw-bg-opacity));
          padding: 2px 4px;
          border-radius: 4px;
        }

        span.katex-display {
          overflow-x: auto;
          overflow-y: hidden;
        }

        .rlc-container {
          width: 100%;
          max-width: 800px;
          max-height: 120px;
          margin: 0 auto 2rem 0;

          color: rgb(230, 230, 230);
          text-decoration: none;

          border: 1px solid rgb(25, 25, 25);
          border-radius: 0.25rem;
          display: flex;
          align-items: stretch;

          transition: opacity 0.1s linear;
        }

        .rlc-container:hover {
          opacity: 0.5;
        }

        .rlc-info {
          overflow: hidden;
          padding: 0.5rem;
          flex: 4 1 100px;
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .rlc-title {
          font-size: 1.25rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .rlc-description {
          font-size: 0.875rem;
          color: rgb(230, 230, 230);
          overflow: hidden;
          line-height: 1rem;
          height: 2rem;
        }

        .rlc-url-container {
          display: flex;
          align-items: center;
        }

        .rlc-favicon {
          margin-left: 0;
          margin-right: 4px;
          width: 16px;
          height: 16px;
        }

        .rlc-url {
          font-size: 1rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .rlc-image-container {
          position: relative;
          flex: 1 1 100px;
        }

        .rlc-image {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-bottom-right-radius: 0.25rem;
          border-top-right-radius: 0.25rem;
        }

        svg,
        img {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    div.profileContainer {
      padding-top: 1.5rem;
    }
  }
</style>
